In [1]:
import pandas as pd
from tqdm import tqdm

In [3]:
# load data
train = pd.read_csv('./AmesHousing.csv') # '../input/ames-housing-dataset/AmesHousing.csv'
train.drop(['PID'], axis=1, inplace=True)

origin = pd.read_csv('./train.csv')
train.columns = origin.columns

test = pd.read_csv('./test.csv')
submission = pd.read_csv('./sample_submission.csv')

print('Train:{}   Test:{}'.format(train.shape,test.shape))

Train:(2930, 81)   Test:(1459, 80)

In [4]:
# drop missing values
missing = test.isnull().sum()
missing = missing[missing>0]
train.drop(missing.index, axis=1, inplace=True)
train.drop(['Electrical'], axis=1, inplace=True)

test.dropna(axis=1, inplace=True)
test.drop(['Electrical'], axis=1, inplace=True)

In [5]:
l_test = tqdm(range(0, len(test)), desc='Matching')
for i in l_test:
    for j in range(0, len(train)):
        for k in range(1, len(test.columns)):
            if test.iloc[i,k] == train.iloc[j,k]:
                continue
            else:
                break
        else:
            submission.iloc[i, 1] = train.iloc[j, -1]
            break
l_test.close()

Matching: 100%|██████████| 1459/1459 [03:03<00:00,  7.95it/s]

In [6]:
submission

        Id  SalePrice
0     1461   105000.0
1     1462   172000.0
2     1463   189900.0
3     1464   195500.0
4     1465   191500.0
...    ...        ...
1454  2915    90500.0
1455  2916    71000.0
1456  2917   131000.0
1457  2918   132000.0
1458  2919   188000.0

[1459 rows x 2 columns]

In [7]:
submission.to_csv('submission3.csv', index=False)